.offer-card {
  background: #0f172a;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  transform: translateY(20px);
  opacity: 0;
  animation: fadeUp 0.7s ease forwards;
}

.offer-card:nth-child(2) { animation-delay: 0.1s; }
.offer-card:nth-child(3) { animation-delay: 0.2s; }

@keyframes fadeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.offer-card__img {
  height: 220px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.offer-card__img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.offer-card__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.3rem;
  z-index: 2;
}

.offer-card__body {
  padding: 24px;

}
.offer-card__body p {
    margin: 0 0 1.5rem;
    color: #c0cada;
    line-height: 1.6;
    font-size: 1rem;
    height: 130px;
    text-align: left;
}

.offer-card:hover {
  transform: translateY(-8px) scale(1.02);
  transition: 0.35s ease;
}

.sigma_btn-custom {
     display: block;
    margin-top: 16px;
    color: #fcfcfc;
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
}
