.table-wrapper {
  padding: 24px;
  background: #f8fafc;
  min-height: 100vh;
    padding-top: 80px;
}

/* Header */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.table-header h2 {
  font-size: 22px;
  font-weight: 600;
  color: #111827;
}

.table-header input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

/* Table */
.blogs-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.blogs-table th,
.blogs-table td {
  padding: 14px 12px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #e5e7eb;
}

.blogs-table th {
  background: #f1f5f9;
  font-weight: 600;
  color: #374151;
}

/* Image */
.table-image {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  object-fit: cover;
}

/* Title */
.title-cell {
  display: flex;
  flex-direction: column;
  gap: 15.5px;
}

.edit-link {
  font-size: 12px;
  color: #2563eb;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

/* Status badge */
.status-badge {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 999px;
  font-weight: 500;
  text-transform: capitalize;
}

.status-badge.published {
  background: #dcfce7;
  color: #166534;
}

.status-badge.draft {
  background: #fef3c7;
  color: #92400e;
}

/* Delete */
.delete-btn {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #dc2626;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b91c1c;
}

/* Empty */
.no-data {
  text-align: center;
  color: #6b7280;
  padding: 20px;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background: white;
  cursor: pointer;
  font-size: 13px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  color: #374151;
}
