/* header css start  */
.aero_menu_location_icon {
  gap: 0.5rem;
}

.aero-col-3 .aero-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  mix-blend-mode: plus-lighter;
}

.aero-col-3 {
  background: linear-gradient(90deg,
      var(--black-color) 0% 30%,
      #524c4ec4 45% 55%,
      var(--black-color) 70% 100%);
  background-color: var(--black-color);
  border-bottom: 1px solid var(--white-color);
  padding: 0.75em;
  height: 66px;
}

.aero-col-3>div {
  flex-basis: 33.3%;
  text-align: center;
}

.aero-col-3>div:first-child {
  text-align: left;
}

.aero-col-3>div:last-child {
  text-align: right;
}

.aero-list-7,
.aero-list-7-1 {
  background: var(--black-color);
  padding: 4px 0;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  text-align: center;
  align-items: unset;
}

.aero-list-7-1 {
  z-index: -1;
  animation: listanimate 0.5s ease-in-out;
  padding-top: 3em;
}

@keyframes listanimate {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

.aero_main_logo_wrap {
  position: relative;
}

/* .aero_main_logo {
  position: absolute;
  inset: 0;
  top: -26px;
  z-index: 99;
} */

.aero_main_logo img {
  max-width: 78px;
  width: 100%;
  height: auto;
  padding: 5px;
}

.aero_changelocation_height {
  height: 50px;
  box-shadow: 0 0 2px var(--primary-color);
}

.aero-menu-location {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.aero-d-changelocation {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border: 1px solid var(--white-color);
  padding: 0.6em 1.1em;
  border-radius: 30px;
  font-size: 1.1rem;
  text-wrap: nowrap;
  color: var(--white-color);
  transition: color 0.2s ease-out, background 0.2s ease-out;
  text-transform: uppercase;
}

.aero-header-changelocation-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aero-app-changelocation {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
}

.aero-d-changelocation:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.aero-faq {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  transition: color 0.2s ease-out, background 0.2s ease-out;
  height: 40px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 10px;
  border: 3px var(--white-color) solid;
  border-radius: 20px;
}

.aero-faq:hover {
  background-color: transparent;
  color: var(--white-color);
  border-color: #bc6371;
}

:is(.aero-list-7, .aero-list-7-1) a {
  color: var(--white-color);
  padding: 5px 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.aero-btn-booknow button,
.sigma_btn-custom {
  outline: none;
  transition: top 0.05s linear, box-shadow 0.05s linear;
  position: relative;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 12.5rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 0.2rem #d2814e, 0 0.75rem #00000020,
    inset -0.0625rem 0 #ffffff80, inset 0.0625rem 0 #ffffff80,
    inset 0 0.0625rem #fff;
}

:is(.aero-btn-booknow button, .sigma_btn-custom):hover {
  top: 4px;
  box-shadow: 0 0.125rem #a0fb94, 0 0.25rem #00000020,
    inset -0.0625rem 0 #ffffff80, inset 0.0625rem 0 #ffffff80,
    inset 0 0.0625rem var(--white-color);
}

.aero-header-contactus-btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1em;
}

.aero-btn-kidslearnmore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  text-align: center;
}

.aero-btn-kidslearnmore button {
  font-size: 0.6rem;
}

/* .aero_home_video-container {
  max-height: 700px;
  overflow: clip;
  background-color: var(--black-color);
} */

.aero_home_video-container video {
  height: 80dvh;
  object-fit: cover;
  filter: opacity(0.6);
}

.aero-home-h1heading {
  text-align: center;
  margin-top: 50px;
  color: var(--white-color);
  font-size: 25px;
}

.aero-btn-article-section {
  text-align: center;
  display: flex;
  justify-content: center;
}

.aero-btn-article-section div {
  padding: 1em 0 2em;
}

/* header css end  */
.aero_home-headerimg-wrapper {
  background-color: var(--black-color);
}

.aero_home-headerimg-wrapper,
.aero_home-play-small-img,
.aero_home_birthday_section,
.aero_home_article_desc {
  position: relative;
}

.aero_home-headerimg-wrapper img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  opacity: 2;
}

.aero_home-headerimg-wrapper>img {
  height: 600px;
}

.aero_home-headerimg-wrapper article,
.aero_home-play-small-img span,
.aero_home_birthday_section h2,
.aero_home_birthday_section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}


.aero_home-headerimg-wrapper article p {
 color: var(--white-color);
  padding: 20px 10px;
  text-align: center;
  font-weight: 600;
   font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 1.5em;
  text-transform: capitalize;
}

/* action buttons  */
.aero_home-actionbtn-bg {
  background-color: var(--black-color);
  color: var(--white-color);
}

.aero_home-actionbtn {
  padding: 2.5em 1.5em;
}

.aero_home-actionbtn div button {
  width: 100%;
}

.aero_home_triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-bottom: 35px solid #fde1c0;
}

/* playground section */
.aero_home-playsection-bg,
.aero_home_feature_section-bg {
  background-color: #fde1c0;
}

.aero_home-playsection-1 {
  gap: 1rem;
  text-align: center;
  padding: 2.5em 1.5em;
  color: var(--black-color);
}



.aero_rating_second_heading {
  color: var(--white-color);
}

.aero_rating_second_heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.aero_rating_second_heading {
  padding: 1.5em 1em 0;
}

.aero_home-playsection-1 p,
.aero_home_article_section p,
.aero_rating_overallrating {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.aero_home-playsection-1 p {
  text-transform: capitalize;
}

.aero_home-actionbtn-wrap,
.aero_home_article_card-wrapper,
.aero_home_BPJ_wrapper,
.aero_rating_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2em 0.5em;
}

.aero_home-actionbtn-wrap .aero-btn-booknow button {
  width: 100%;
}

.aero_home_feature_section {
  padding: 4em 1em;
}

.aero_home-playsection-2,
.aero_home_feature_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2em 0.5em;
}

.aero_home-playsection-2 article {
  overflow: hidden;
}

.aero_home-playsection-2 article img,
.aero_home_article_card img {
  width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
}

.aero_home-playsection-2 article:hover>img {
  transform: scale(1.05);
}

.aero_home-play-small-img span {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
}

/* birthday image section */
.aero_home_birthday_section img {
  width: 100%;
  height: auto;
}

.aero_home_birthday_section h2 {
  top: calc(35% + 4vw);
}

.aero_home_birthday_section p {
  font-size: 1rem;
  letter-spacing: 0;
  font-weight: 400;
  top: calc(35% + 4vw);
}

/* article section  */
.aero_home_article_section {
  background-color: var(--black-color);
  padding: 2em 0 1em;
}

.aero_home_article_card img {
  border-radius: 0 0 30px 30px;
  aspect-ratio: 3/2;
}

.aero_home_article_section p {
  padding-bottom: 0.5em;
  color: var(--white-color);
}

.aero_rating_overallrating {
  padding-top: 0.5em;
  color: var(--white-color);
  font-style: oblique;
}

.aero_rating_overallrating strong {
  color: var(--primary-color);
}

.aero_home_article_card {
  background-color: var(--white-color);
  box-shadow: 0 0 5px 2px #ffffff69;
  transition: all 0.2s ease-in;
  border-radius: 12px;
  overflow: clip;
}

.aero_home_article_desc div {
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  position: absolute;
  top: -32px;
  left: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
  align-content: center;
}

.aero_home_article_desc h3 {
  font-size: 1.2rem;
  padding: 1.5em 0.5em 0.5em;
  color: var(--black-color);
  height: 90px;
  overflow: hidden;
}

.aero_home_article_desc p {
  font-size: 0.75rem;
  color: var(--black-color);
  text-align: left;
  padding: 0 0.5em 1em;
}

/* feature section */
.aero_home_feature_section-card {
  text-align: center;
  color: var(--black-color);
  box-shadow: 0 0 8px var(--secondary-color);
  border-radius: 30px;
  padding: 1em 0;
}

.aero_home_feature_section-card div:first-child {
  font-size: 1.8rem;
  font-weight: 700;
}

.aero_home_feature_section-card div:last-child {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5em 0;
}

/* Seo section  */
.aero_home_seo_section {
  color: var(--secondary-color);
  padding: 0 1em;
}

.aero_home_seo_section :is(h2, h3) {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1em;
}

.aero_home_seo_section p {
  font-size: 0.8rem;
  margin-bottom: 2em;
}

.aero_home_seo_section ul {
  margin-bottom: 2.5em;
}

.aero_home_seo_section ul li {
  font-size: 0.7rem;
  margin-bottom: 1em;
  margin-left: 2em;
}

/* footer css start  */
/* BPJ section  */
.aero_home-headerimg-wrapper {
  position: relative;
}

.aero_home_BPJ_wrapper div {
  flex-direction: column;
  gap: 1rem;
}

.aero_home_BPJ_wrapper img {
  width: 90px;
  height: auto;
}

.aero_home_BPJ_wrapper span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
}

/* rating section */
.aero_rating_wrapper {
  color: var(--white-color);
}

.aero_rating_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 12px;
}

.aero_rating_card h4 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.aero_rating_card p {
  font-size: 0.85rem;
  line-height: 1.8;
  font-weight: 200;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  height: 150px;
  position: relative;
}

.aero_rating_card p:hover {
  height: 100%;
}

.aero_rating_card h5 {
  font-size: 1rem;
  font-weight: 400;
  font-style: oblique;
  color: var(--primary-color);
}

.aero_rating_readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  background: var(--black-color);
  padding: 0.5em 1em;
  visibility: visible;
  font-weight: 400;
}

.aero_rating_card p:hover span {
  visibility: hidden;
}

/* main footer section */
.aero_footer_section-bg {
  background-color: var(--black-color);
}

.aero_logo_social_wrap {
  flex-direction: column;
  margin: 2em 2em 1em;
  gap: 1rem;
}

.aero_social_icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white-color);
  margin: 0.7em;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--white-color);
  transition: all 0.5s ease-in-out;
}

.aero_social_icon img {
  background: var(--white-color);
  border-radius: 50%;
}

.aero_footer_col-4-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1em;
}

.aero_footer_col-4-wrapper ul {
  list-style: none;
  flex-basis: 26%;
}

.aero_footer_col-4-wrapper ul:last-child {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aero_footer_col-4-wrapper ul:last-child li:first-child {
  width: 100%;
  text-align: center;
}

.aero_footer_col-4-wrapper ul li {
  font-size: 0.8rem;
  color: var(--white-color);
  font-weight: 400;
  padding-bottom: 0.8em;
}

.aero_footer_col-4-wrapper ul li:first-child {
  font-size: 1.3rem;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
  border-bottom: 0.1px solid #fff;
}

.aero_footer_article-card {
  gap: 1rem;
}

.aero_footer_article-card img {
  border-radius: 50%;
}

.aero_footer_article-card div h6 {
  font-size: 0.8rem;
  font-weight: 400;
  padding-bottom: 0.5em;
}

.aero_footer_article-card div p {
  font-size: 1rem;
  font-weight: 500;
}

.figcaption-bg {
  width: 100%;
  /* 👈 This makes it match the image's width */
  background-image: url("/assets/images/home/line_pattern.svg");
  /* or any path in /public */
  background-size: cover;
  background-position: center;
  color: white;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  border-radius: 0px;
  margin-top: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.attraction-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.attractions-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Each LI: fixed width on desktop, full width on mobile */
ul.attractions-grid li {
  width: 259px;
}

@media (max-width: 768px) {
  ul.attractions-grid {
    justify-content: center;
  }

  ul.attractions-grid li {
    width: 100%;
    max-width: 100%;
  }
}

/* footer css end  */

@media screen and (min-width: 992px) {
  .app-container {
    display: none;
  }

  .desktop-container {
    display: block;
  }

  .aero-btn-booknow button {
    font-size: 1.2rem;
  }

  .aero-btn-booknow-1.aero-btn-booknow {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6px;
  }

  .aero-btn-kidslearnmore {
    bottom: 3em;
  }

  .aero_home-actionbtn-wrap,
  .aero_home_article_card-wrapper {
    gap: 2rem;
  }

  .aero-col-3 {
    padding: 1.25em;
    height: 90px;
  }

  .aero-col-3 .aero-header-logo {
    justify-content: flex-start;
  }

  .aero-home-h1heading {
    font-size: 33px;
  }

  .aero-list-7,
  .aero-list-7-1 {
    padding: 14px 0;
    top: 90px;
  }

  .aero_home-headerimg-wrapper article p,
  .aero_home-playsection-1 p,
  .aero_home_article_section p,
  .aero_rating_overallrating {
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 3em;
  }
    .aero_home-headerimg-wrapper article p{
      font-size: 2rem;
      line-height: 1.4;
      margin-bottom: 1em;
    }

  .aero_home-playsection-2,
  .aero_home_feature_section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }

  /* .aero_home-headerimg-wrapper article {
    width: 60%;
  } */

  article.aero_home_BPJ_wrapper {
    width: 100%;
  }

  .aero_rating_second_heading {
    font-size: 2rem;
  }

  .aero_home-actionbtn div button {
    font-size: 1.1rem;
  }

  .aero_home_article_card:hover {
    box-shadow: 0 0 5px 2px #dedada69;
    transform: translateY(-5px);
  }

  .aero_home_article_desc p {
    font-size: 1rem;
  }

  .aero_home_BPJ_wrapper span {
    font-size: 1.8rem;
  }

  .aero_home-play-small-img span {
    font-size: 1.5rem;
  }

  .aero_home_feature_section-card div:first-child {
    font-size: 2rem;
  }

  .aero_home_seo_section :is(h2, h3) {
    text-align: left;
    font-size: 1.5rem;
  }

  .aero_home_seo_section p {
    font-size: 1rem;
    text-align: left;
  }

  .aero_home_seo_section ul li {
    font-size: 0.9rem;
  }

  .aero_main_logo {
    top: -35px;
  }

  .aero_main_logo img {
    max-width: 98px;
  }

  /* footer  */
  .aero_home-headerimg-wrapper>img {
    height: 400px;
  }

  .aero_logo_social_wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .aero_social_icon {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    margin: 0.4em;
  }

  .aero_social_icon img {
    background: var(--white-color);
    border-radius: 50%;
  }

  .aero_social_icon img:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  .aero_footer_col-4-wrapper {
    flex-wrap: nowrap;
    padding: 2em 1.5em 3em;
    gap: 2rem;
  }

  .aero_footer_col-4-wrapper ul:last-child li:first-child {
    text-align: left;
  }

  .aero_footer_col-4-wrapper ul li:first-child {
    font-size: 1.45rem;
  }

  .aero_footer_col-4-wrapper ul li {
    font-size: 0.9rem;
  }

  .aero_footer_article-card img {
    min-width: 80px;
    height: 80px;
  }

  .aero_footer_article-card div h6 {
    font-size: 1rem;
  }

  .aero_footer_article-card div p {
    font-size: 0.9rem;
  }
}