.aero_kids_party {
  background: #ed087178;
  max-width: 500px;
  max-height: 400px;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.aero_bp_2_main_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding: 2em 1em;
}
.aero-bp-boxcircle-wrap {
  text-align: center;
  padding-bottom: 1em;
}
.aero-bp-boxcircle {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 50%;
  min-width: 100px;
  height: 100px;
  width: 100px;
  display: inline-block;
  align-content: center;
  line-height: 1.3;
  border: 7px solid var(--white-color);
  box-shadow: 0 0 5px #80808085;
}
.aero_bp_card_wrap {
  padding: 1em;
  box-shadow: 0 0 5px var(--primary-color);
  margin: 1em 0;
  border-radius: 12px;
}
.aero_bp_card_wrap_list,
.pinklist {
  display: grid;
  gap: 1rem;
  padding: 1em 0;
  list-style-type: none;
}
:is(.aero_bp_card_wrap_list, .pinklist, .bogo_main_section ul) li::before {
  content: "-";
  margin-right: 0.5em;
  margin-top: 0.1em;
}
:is(.aero_bp_card_wrap_list, .pinklist) li {
  display: inline-flex;
}

/* bogo offers page css */

.bogo_main_section {
  padding: 3em 1em;
}
.bogo_main_section :is(h1, h3, h4, h5, h6, ul) {
  padding-bottom: 0.8em;
}
.bogo_main_section h1 {
  font-size: 1.8rem;
}
.bogo_main_section h3 {
  font-size: 1.5rem;
}
.bogo_main_section h5 {
  font-size: 1.3rem;
  font-weight: 500;
}
.bogo_main_section h6 {
  font-size: 1rem;
  font-weight: 400;
}
.bogo_main_section ul li {
  padding: 0.4em;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .bogo_main_section h1 {
    font-size: 2rem;
  }
  .bogo_main_section h3 {
    font-size: 1.7rem;
  }
  .bogo_main_section h5 {
    font-size: 1.5rem;
  }
  .bogo_main_section h6 {
    font-size: 1.2rem;
  }
  .aero-bp-boxcircle {
    font-size: 1.5rem;
    height: 120px;
    width: 120px;
  }
}


.gaming_bg{
  background:#0f0f1a;
  padding:80px 0;
}

.birthday_desc{
  text-align:center;
  max-width:800px;
  margin:0 auto 60px;
  color:#bdbdd3;
  line-height:1.7;
}

/* container */

.pricing_horizontal_container{
  display:flex;
  flex-direction:column;
  gap:25px;
}

/* horizontal card */

.pricing_horizontal_card{
  display:flex;
  background:#151528;
  border-radius:14px;
  overflow:hidden;
  border:1px solid rgba(255,255,255,0.06);
  transition:.3s;
}

.pricing_horizontal_card:hover{
  transform:translateY(-4px);
  box-shadow:0 15px 35px rgba(235, 135, 43, 0.2);
}

/* price box */

.package_price_box{
  min-width:180px;
  background:linear-gradient(135deg,#ff4b2b, var(--primary-color));
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:25px;
}

.price{
  font-size:32px;
  font-weight:700;
}

.category{
  font-size:13px;
  opacity:.9;
}

/* details */

.package_details{
  padding:25px;
  flex:1;
}

.package_title{
  font-size:20px;
  margin-bottom:15px;
  color: var(--secondary-color);
}

.package_features{
  list-style:none;
  padding:0;
  margin:0;
  display:grid;
  /* grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); */
  gap:10px;
}

.package_features li{
  font-size:14px;
  color:#dcdcff;
}

/* mobile */

@media (max-width:700px){

.pricing_horizontal_card{
  flex-direction:column;
}

.package_price_box{
  width:100%;
}

}