* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  /* --primary-color: #ed0871; */
  --primary-color: #3ba32e;

  /* --secondary-color: #0052ff; */
  --secondary-color: #d2814e;
  --white-color: #fff;
  --black-color: #000;
}

/* utility classes  */
.aero-max-container {
  max-width: 1100px;
  margin: auto;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-dir-col {
  display: flex;
  flex-direction: column;
}
a {
  color: inherit;
  text-decoration: none;
}
.app-container {
  display: block;
}
.desktop-container {
  display: none;
}
header:first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header:first-child + * {
  padding-top: 105px;
}
.heading-with-icon {
  display: flex; /* Inline alignment */
  align-items: center; /* Vertical alignment */
  gap: 8px; /* Space between icon and text */
  justify-content: center; /* Center inside text-center div */
  font-size: 1.75rem; /* Optional: match heading size */
  text-align: center;
}

.promotions__icon {
  width: 2.5rem;
  height: 2.5rem;
  stroke: currentColor;
  color: var(--primary-color);
  /* white icon */
}
@media screen and (min-width: 992px) {
  header:first-child + * {
    padding-top: 142px;
  }

  .app-container {
    display: none;
  }
  .desktop-container {
    display: block;
  }
}
